.custom-table {
    border-collapse: collapse;
    width: 80%;
  }
  
  .custom-table td, .custom-table th {
    border: 1px solid #303030;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table tr {
    background-color: white;
  }
  
  .custom-table tr:hover {
    background-color: rgb(223, 220, 220);
  }
  
  .custom-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    color: white;
  }

  /* Media query for smaller screens  */
  @media (max-width: 768px) {
    .custom-table {
      width: 100%; 
    }
    .custom-table td:nth-last-child(-n+2),
    .custom-table th:nth-last-child(-n+2) {
      display: none;
    }
    
  }